@inject AuthenticationStateProvider _stateProvider
@inject NavigationManager _navigationManager

<AuthorizeView>
    <Authorized>
        <a style="margin-right: 20px; cursor:pointer; text-decoration: none;" @onclick="GoToProfile">Здравствуйте, @context.User.FindFirst("Email").Value</a>
        <a @onclick="Logout" style="cursor: pointer;">Выйти</a>
    </Authorized>
    <NotAuthorized>
        <a style="margin-right: 20px; cursor:pointer; text-decoration: none;" @onclick="GoToLogin">Войти</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task Logout()
    {
        var localStateProvider = (LocalAuthenticationStateProvider)_stateProvider;
        await localStateProvider.LogoutAsync();
        _navigationManager.NavigateTo("/");
    }

    private void GoToLogin()
    {
        _navigationManager.NavigateTo("/auth/login");
    }

    private void GoToProfile()
    {
        _navigationManager.NavigateTo("/auth/profile/");
    }
}
